<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Home</div>
                <a class="nav-link" href="/admin/dashboard">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Dashboard
                </a>
                <div class="sb-sidenav-menu-heading">Sản phẩm</div>
                 <a class="nav-link"  href="/admin/book/list" >
                    <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                    Sách
                </a>
                 <a class="nav-link"  href="/admin/book/bestseller" >
                    <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                    Sách bán chạy
                </a>
                     <div class="sb-sidenav-menu-heading">Quản lí đơn hàng</div>
                <a class="nav-link" href="/admin/orders/new">
                    <div class="sb-nav-link-icon"><i class="fas fa-shopping-cart"></i></div>
                    Đơn hàng
                </a>
                <div class="sb-sidenav-menu-heading">Người dùng</div>
                 <a class="nav-link" href="/admin/users/list"><i class="fas fa-users"></i> Tài khoản người dùng </a>
                
                <div class="sb-sidenav-menu-heading">Cá nhân</div>
                <a class="nav-link" href="/admin/profile">
                    <div class="sb-nav-link-icon"><i class="fas fa-user-circle"></i></div>
                   Tài khoản
                </a>

            </div>
        </div>
    </nav>
</div>