<!-- Start My Account Area -->
<section class="my_account_area pt--80 pb--55 bg--white">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-6 col-12 text-align-center">
                   <div class="my__account__wrapper"> 
                    {{#if err}}
                        <div class="alert alert-danger" role="alert">
                            {{err}} 
                        </div>
                    {{/if}}
                    <form action="/users/register" method="POST">
                        <div class="account__form">
                              <h3 class="account__title text-center">Register</h3>
                            <div class="input__box">
                                <label>User name <span>*</span></label>
                                <input type="text" required name="user_name">
                            </div>
                            <div class="input__box">
                                <label>Email address <span>*</span></label>
                                <input type="email" required name="user_email">
                            </div>
                            <div class="input__box">
                                <label>Password<span>*</span></label>
                                <input type="password" minlength="8" required name="password">
                            </div>
                            <div class="input__box">
                                <label>Re-Enter Password<span>*</span></label>
                                <input type="password" minlength="8" required name="re_password">
                            </div>
                            <div class="form__btn">
                                <button>Register</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End My Account Area -->

